<!-- This code is intended to be used **for training purposes only**. -->
<head>
  <% flash.each do |key, value| %>
    <div class='alert alert-<%= key %>' >
      <%= value %>
      </div>
  <% end %>
</head>

<table>
  <tr>
    <th>Access Token</th>
    <th>Created At</th>
    <th>Expires At</th>
    <th>Refresh Token
    </th>
  </tr>
  </tr>
    <td><%= @access_token[0..4] + "..." + @access_token.split(//).last(5).join%></td>
    <td><%= @pretty_created_at %></td>
    <td><%= @pretty_expires_at %></td>
    <td><%= @refresh_token[0..4] + "..." + @refresh_token.split(//).last(5).join %></td>
  </tr>
</table>

<div class="me-button">
  <%= link_to "Show User Information", users_me_path, method: :get, class: :button %>
</div>

<div class="refresh-button">
  <%= link_to "Refresh Your Access Token", login_refresh_path, method: :post, class: :button%>
</div>

<div class="revoke-button">
  <%= link_to "Revoke Your Access Token", login_revoke_path, method: :get, class: :button%>
</div>

<br/>
<h1>Make a Procore API Request</h1>
<%= form_with(url: '/users/home', method: 'get', local: true) do %>
  <div class="form-group">
    <label for="path">Path:</label>
    <input id="path" type="text" name="path"></input>
  </div>

  <div class="form-group">
    <label for="body">Body:</label>
    <input id="body" type="textarea" name="body"></input>
  </div>

  <div class="form-group">
    <label for="method">Method:</label>
    <select id="method" type="text" name="method">
      <option value="get">GET</option>
      <option value="post">POST</option>
    </select>
  </div>

  <input type="submit" class="btn btn-primary"></input>
<% end %>

<br/>
<pre id="json-response"></pre>

<script>
  const resp = '<%= @resp.to_json.html_safe %>';

  document.getElementById("json-response").textContent = JSON.stringify(
    JSON.parse(resp),
    undefined,
    2
  );
</script>
