<!-- This code is intended to be used **for training purposes only**. -->
<!DOCTYPE html>
<html>
  <head>
    <title>Sample ROR App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/nav_bar" %>
      <%= render "layouts/flash_message" %>

      <%= yield %>
    </div>
  </body>
</html>
